@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,400;1,600&family=Poppins:ital,wght@0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
:root {
    --primary-colour: #0babd1;
    --grey: #242424;
    --light-grey: #d8d7d7;
    --footer: #545454;
    --error: #b50404;
}